@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
    --bg-color: #254180;
    --ft-color: #ff914d;
    --p-color: #fff;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: 'Acme', sans-serif;
}

header {
    border-bottom: 10px double var(--ft-color);
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0 auto;
    color: var(--ft-color);
    padding-top: 10px;
    font-size: 30px;
}

button {
    margin: 10px auto;
    background: var(--ft-color);
    color: var(--bg-color);
}

main {
    width: 10%;
    height: calc(80%);
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

div#show {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#press {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 400px;
    border: 10px solid var(--ft-color);
}

footer {
    text-align: center;
    color: var(--ft-color);
    position: fixed;
    width: 100%;
    padding: 5px;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    border-top: 10px double var(--ft-color);
}

footer p a:link {
    text-decoration: none;
}

footer p a:visited {
    color: var(--font-colorfooter)
}

footer p a:hover {
    text-shadow: 0 0 2px #000;
}